<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 将指定对象配置给 Spring， 让 Spring 创建其实例-->
    <bean id="userDao" class="com.ikook.ioc.UserDaoImpl"/>

    <!--注册一个名称为 userService 的实例 -->
    <bean id="userService" class="com.ikook.ioc.UserServiceImpl">
        <!--将 userDao 实例注入到 userService 实例中 -->
        <property name="userDao" ref="userDao"/>
    </bean>


</beans>